{# This is the template for the front page welcome box. You can enter any html here and show different language versions by using the lang value in a twig conditional as demonstrated below. #}
<div class="welcome-box">
  {% if request.lang == 'it' %}
  <h1>Benvenuto!</h1>
  <p>Questo sito web fornisce accesso a versioni interoperabili di vocabolari e ontologie controllate create dal Digital Humanities Advanced Research Centre, presso l'Università di Bologna, basate sul modello di dati SKOS. Tutti i file possono essere consultati (preferibilmente da desktop) e scaricati in formati RDF.</p>
  {% elseif request.lang == 'en' %}
  <h1>Welcome to /DH.arc Vocabularies!</h1>
  <p>This website provides access to interoperable versions of controlled vocabularies and ontologies created by the Digital Humanities Advanced Research Centre at the University of Bologna, based on the SKOS data model. All files can be browsed (desktop preferred) and downloaded in RDF formats.</p>
  {% endif %}
</div>
